{namespace Mesilat.TimeSheet.Templates}

/**
 * Deny Log Message
 */
{template .denyLogMessage}
    <div class="form-body" id="logwork-error">
        <header>
            <h1>{getText('com.mesilat.week-load-gadget.deny-msg-title')}</h1>
        </header>
        <div class="aui-message warning">
            <span class="aui-icon icon-warning"></span>
            <p>{getText('com.mesilat.week-load-gadget.deny-msg-message')}</p>
        </div>
    </div>
{/template}